@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+VIC+Guides&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  --primary-color: #FF6F61;
  --secondary-color: #4A90E2;
  --background-color: #F5F5F5;
  --text-color: #333333;
  --accent-color: #FFD700;
}

body{
  max-width:100%;
  min-height: 100vh;
  background-color:#02191D;
  background-size: cover;
  z-index: 100;
  color: #FFF;
}

main{
  width: 90%;
  margin: auto;
/* background-color:#222; */
}

header{
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 12px 12px;

  border: 1px solid #197686;
  border-radius: 24px;

}


.logo{
  width: 70px;
  height: 50;
}

nav{
  display: inline-flex;
  gap: 20px;
  align-items: center;
}

nav p{
  font-family: JejuMyeongjo;
}


.headerButton{
  font-size: 15px;
  background-color: #F5F5F5;
  color: #333333;
  padding: 10px 20px;
  border-radius: 10px;
}


@media(max-width:750px){
  header{
    width: 320px;
    height: 68px;
    border-radius: 12px;
  }

  nav{
    display: none;
  }

  .headerButton{
    width: 141px;
    padding: 10px;
    align-items: center;
  }
}



.container{
  width: 700px;
  height: 902px;
  box-shadow: 0 3px 8px #0000003d;
  background-color:  #041E23;
  margin: 50px auto;
  border-radius: 10px;
  border: 1px solid #0E464F;
}

.container h1{
  font-size: 20px;
}

.ticketSelection .selectionDetails{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}




.container .progressBar{
  width: 650px;
  margin-left: 20px;
}



.container .ticketContainer{
  width: 604px;
  height:726px;
  margin: 20px auto;
  background-color: #08252B;
  box-shadow: 0 3px 8px #0000003d;
  border: 1px solid #0E464f ;
  border-radius: 32px;
  padding: 10px;
  color: var(--text-color);
}

.ticketContainer h1{
  font-size: 32px;
  font-weight: 400;
}



.ticketSelection h1{
  font-weight: 400;
  font-size: 32px;
  color: #fafafa;
}


.eventDetails{
  width: 558px;
  height: 200px;
  line-height: 2;
  /* background:linear-gradient(#07373F 134%,  #0A0C11 150%); */
   border: 1px solid #07373F;

  margin: 10px;
  border-radius: 24px;
  padding: 10px;
  text-align: center;
  color: #fafafa;
  line-height: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventDetails h2

.ticketContainer .eventDetails .event{
  width: 330px;
  height: 48px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  margin: 5px auto;
}

.ticketContainer .eventDetails .location{
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}


.progressBar2{
  margin-left: 10px;
  margin-bottom: 10px;
}



.ticketTypes{
  margin: 10px 0;
  color: #fff;
  margin-left: 15px;
}


.container .ticketTypeContainer{
  width: 556px;
  height: 196px;
  display: flex;
  gap: 30px;
  background-color:  #052228;
  padding: 10px;
  border-radius: 24px;
  color: #F5F5F5;
  border: 1px solid #07373F;
  margin: 20px auto;
}

.ticketTypeContainer h2{
  font-size: 16px;
}

.ticketTypeContainer .regAccess div, .VIPAccess div, .VVIPAccess div{
  display: flex;
  gap: 10px;
}

.ticketTypeContainer .regAccess:hover, .VIPAccess:hover, .VVIPAccess:hover{
  background-color: #197686;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #197686;
  cursor: pointer;
}

.regAccess .free, .VPrice{
  background-color: #0E464F;
  border-radius: 10px;
  color: #F5F5F5;
  padding: 5px 15px;
  text-align: right;
  border: 1px solid #2BA4B9;
  width: 80px;
}

.VIPAccess, .VVIPAccess, .regAccess{
  border: 1px solid #2BA4B9;
  border-radius: 10px;
  padding: 10px;
  width: 220px;
}

.container label{
  margin-left: 15px;
  color: #fafafa;
}

.container .ticketInput{
  width: 556px;
  height: 48px;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid  #07373F;
  background-color: transparent;
  margin: auto;
  color: white;
  outline: none;
}

.container .buttons{
  /* width: 556px;
  height: 48px;
  padding: 10px;
  border-radius: 24px;
  background-color: #041E23;
  border: 1px solid #0E464F; */
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.buttons .next, .buttons .cancel{
  width: 250px;
  height: 48px;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #333333;
  background-color: transparent;
  outline: none;
  color: #f5f5f5;
}

.container .buttons .next{
  border: none;
  background-color: #24A0B5;
  color: #F5F5F5;
}

@media(max-width:750px){
  .container{
    width:375px;
    height:1271px ;
  }

  .selectionDetails h1{
    font-size: 20px;
  }

  .ticketSelection{
    width: 350px;
    margin: 10px auto;
  }

  .container .ticketContainer{
    width: 350px;
    height: 1070px;
  }

  .ticketContainer .eventDetails{
    width: 287px;
    height: 243px;
    margin: auto;
  }

  .ticketContainer .eventDetails h1{
    font-size: 30px;
  }

  .ticketContainer .eventDetails p{
    font-size: 15px;
    width: 280px;
    margin: 10px auto;
    text-align: center  ;
  }
  .ticketTypeContainer .regAccess div, .VIPAccess div, .VVIPAccess div{
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  

  .ticketHr{
    width: 300px;
    margin: 20px auto;
  }

  .ticketContainer .ticketTypeContainer{
    width: 287px;
    height: 420px;
    flex-direction: column;
    align-items: center;
  }

  .ticketContainer .ticketTypeContainer h2{
    font-size: 15px;
  }

  .ticketContainer .ticketInput{
    width: 286px;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  
  .ticketContainer label{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .buttons{
    flex-direction: column;
    justify-content: center;
  }

  .buttons .next{
    width: 290px;
  }

  .buttons .cancel{
    width: 290px;
  }
}


/* Form Style */

.imgContainer{
  width: 609px;
  height: 980px;
  border:1px solid  #0E464F ;
  border-radius: 32px;
  background-color: #08252B;
  padding: 24px;
  margin: 20px auto;
}

.FormContainer.imgContainer form {
  margin: auto;
}


.imgContainer form .imageDiv{
  width: 556px;
  height: 344px;
  border: 1px solid #07373F;
  border-radius:32px ;
  background-color: #052228;
  padding: 24px;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imgContainer form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imgContainer .inputName, textarea{
  margin: 10px;
  width: 556px;
  height: 48px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #0E464f;
  color: #ffffff;
  outline: none;
}

.imgContainer textarea{
  height: 127px;
  font-size: 15px;
}

.imgContainer label{
  margin: 10px;
}


.imgContainer form .imageDiv .upload{
  width: 508px;
  height: 240px;
  gap: 10px;
  background-color:#02191D;
  margin: auto;
  
}

.upload p{
  text-align: center;
}

.imgContainer form div .imgInput{
  width: 240px;
  height: 240px;
  border-radius: 32px;
  padding: 24px;
  gap: 16px;
  font-size: 15px;
  outline: none;
  border: 2px solid #07373F;

  background-color:#197686;
  text-align: center;
  margin-left: 140px;
  margin-top: 10px;
}

 .imgContainer  .download{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-top: 40px;
} 

.imgContainer .imgInput p{
  font-size: 20px;
  margin-top: 30px;
}

.imgContainer .preview-img{
  width: 100%;
  height: 100%;
  border-radius: 32px;
}


/* .upload.imgInput{
  background-color: #e3e3e3;
  border-color: #007bff;
} */


.formContainer{
  width: 700px;
  height:1099px;
  margin: 20px auto;
  background-color:#041E23;
  box-shadow: 0 3px 8px #0000003d;
  border: 1px solid #0E464f ;
  border-radius: 32px;
  padding: 10px;
  color: var(--text-color);
  color: #fafafa;
} 



.FormContainer .formButtons{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: auto;
}

.formButtons button{
  width: 270px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #24A0B5;
  outline: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.formButtons .submit{
  background-color: #24A0B5;
}


@media(max-width: 750px){
  .formContainer{
    width: 335px;
    height: 1127px;
  }


  .formContainer .selectionDetails h1{
    font-size: 20px;
  }

  .formContainer  .imgContainer form textarea{
    font-weight: 13px;
  }

  .selectionDetails p{
    font-size: 15px;
  }

.imgContainer{
  width: 300px;

}


.imgContainer form .imageDiv{
  width: 255px;
  height: 344px;
  margin: auto;
  padding: 15px;
}



.imgContainer form .imageDiv .upload{
  width: 230px;
  height: 240px;

}

.imgContainer form div .imgInput{
  width: 230px;
  height: 240px;
  margin: auto;

}
.imgContainer form .inputName, textarea{
  margin:auto;
  width: 260px;
  padding: 5px;
  color: #fff;
  outline: none;

}

.imgContainer .progressBar{
  width: 260px;
}

.imgContainer form{
  justify-content: center;
}


  .Lines .AttendeeHr{
    width: 326px;
    Height:4px;
    }

    .imgContainer .formHr{
      width: 250px;
      margin: auto;
    }

   .formButtons {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: auto;
   }

   .formButtons .buttons{
    width:250px ;
   }

   .formContainer .ticketSelection{
    width: 300px;
   }

   .TKInnerContainer .specialRequest{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
   }

}


/* ticket style */

.TicketContainer{
  width: 700px;
  height: 1100px;
  background-color: #041E23;
  border: 1px solid #07373F;
  border-radius: 24px;
  margin: 80px auto;
}


.TicketContainer .ticketIntro{
  width: 604px;
  height: 48px;
  margin: 20px auto;
}


.ticketContainer .Lines .progressBar3{
  width: 700px;
  margin-left:20px ;
}

.progressBar4{
  width: 670px;
}

.TicketContainer .ticketIntro .ticketReady{
  display: flex;

  align-items: center;
}

.ticketReady .ready{
  font-size: 20px;
  flex-grow: 1;
}

.TicketContainer .ticketIntro .lines{
  display: flex;
  align-items: center;
}

.TicketContainer .ticketIntro .lines .L1{
  width: 232px;
  height: 4px;
  background-color:#24A0B5;
  border-radius: 5px;
}
.TicketContainer .ticketIntro .lines .L2{
  flex-grow: 1;
  height: 2px;
}

.TicketContainer h2{
  font-size: 32px;
  text-align: center;
  font-weight:400 ;
  margin: 20px 0;
}

.TicketContainer p{
  font-size: 16px;
  font-weight:400 ;
  text-align: center;
}

/* .ticketDetails{
  width: 562px;
  height: 220px;
  border-radius: 24px;
  padding: 21px;
  margin: 20px auto;
  border: 1px solid #fafafa;
}

.ticketdetailTop{
  display: flex;
}

.ticketDetails  .ticketdetailTop .ticketdetail{
  width: 470px;
  height: 200;
  background-color: #0E464F;
  padding: 10px;

  display:flex;
  gap: 10px;
  border-radius: 10px 0 0 10px;
}

.ticketdetails .ticketNo{
  background-color: #2BA4B9;
  color: #;
}

.ticketdetail .code{
  width: 146px;
  height: 142px;
}

.TicketContainer div .reg{
  border: 1px solid #fafafa;
  border-radius: 0 20px 20px 0;
}

.ticketInfo .regInfo{
  width: 120px;
  margin: 10px ;
}

.ticketInfo p{
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 5px;
}


.ticketbuttons{
  width: 604px;
  height: 48px;
  background-color:#041E23;
  border: 1px solid #0E464F;
  border-radius: 24px;
  margin: 20px auto;

  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.ticketbuttons button{
  border:  1px solid #24A0B5;
  background-color: transparent;
  border-radius: 10px;
  color: #24A0B5;

  width:238px ;
  height: 48px;
}

.ticketbuttons .DT{
  background-color: #24A0B5;
  color: #fafafa;
} */


/* new ticket style */

.ticketbuttons{
  width: 604px;
  height: 48px;
  background-color:#041E23;
  border: 1px solid #0E464F;
  border-radius: 24px;
  margin: 20px auto;

  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.ticketbuttons button{
  border:  1px solid #24A0B5;
  background-color: transparent;
  border-radius: 10px;
  color: #24A0B5;

  width:238px ;
  height: 48px;
}

.ticketbuttons .DT{
  background-color: #24A0B5;
  color: #fafafa;
}


.TKContainer{
  background-image: url('../public/bg.png');
  background-size: cover;
  position: relative;
  z-index: 100;
  width: 400px;
  height: 800px;
  margin: 50px auto;
}


.TKContainer .TKInnerContainer{
  width: 300px;
  background-color: #07373f;
  
  height: 580px;
  position: absolute;
  top: 30px;
  left: 55px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}

.ticketDetailInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: auto;
}

.ticketDetailInfo .eventT{
  width: 200px;
}

.ticketDetailInfo .eventT p{
  font-size: 15px;
  font-weight: 400;
}

.TKContainer .avatardiv{
  width: 140px;
  height: 140px;
  border: 3px solid #24A0B5;
  border-radius: 12px;
  margin: 20px auto;
}

.Lines .progressBar3{
  width: 300px;
}

.TKContainer .ticketDetail{
  width: 282px;
  height: 200px;
  background-color:#08343C;
  padding: 5px 10px;
  border-radius: 24px;
  margin-bottom:20px ;
  border: 1px solid #07373f;
}

.ticketDetail .div1, .ticketDetail .div2{
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 25px;
}

.ticketDetail .name, .email, .ticketType, .ticketNo{
  width: 110px;
  height: 90px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticketDetail  .name, .ticketType{
  border-bottom:1px solid #197686 ;
  border-right:1px solid #197686 ;
}

.ticketDetail .email, .ticketNo{
  border-bottom:1px solid #197686 ;
}


.ticketDetail .userInfo{
  color: #0E464F;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
} 


.TKContainer .barCode{
  width: 300px;
  position: absolute;
  top: 85%;
  left: 50px;
}

.avatardiv img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


.ticketbuttonsdown{
  display: none;
}

.upload.dragging {
  background-color: #e3e3e3;
  border-color: #007bff;
}

@media(max-width: 750px){
  .TicketContainer{
    width: 335px;
    height: 1000px;
    border-radius: 15px;
  }
  
  .imageDiv label{
    font-size: 14px;
  }
  
  .TicketContainer .ticketIntro{
    width: 300px;
  }

  .TicketContainer h2{
    font-size: 20px;
  }

  .TicketContainer p{
    font-size: 14px;
  }
  
  .TKContainer{
      background-image: url('../public/bg.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
      width: 300px;
      height: 950px;
      z-index: 1;
      overflow: hidden;
      position: relative;

      /* position: absolute;
      top: 200px;
      left: 18px; */
  }

  .TKInnerContainer .avatardiv{
     width: 130px;
    height: 90px;
  }

  .TKInnerContainer .ticketDetail{
    height: 70px;
  }

 .ticketDetailInfo  .eventT{
    width: 170px;
  }

  .ticketDetailInfo p{
    font-size: 12px;
  }


  .ticketContainer h2{
    font-size: 16px;
  }

  .TKInnerContainer .ticketDetail{
    width: 230px;
    height: 180px;
    margin-bottom: 20px;
    margin-left: 5px;

  }

  .ticketDetail .div1, .ticketDetail .div2{
    width: 195px;
    height: 90px;
    margin: auto;
  }

  .div1 .name, .div1 .email, .div2 .ticketType, .div2 .ticketNo {
      height: 75px;
  }

  .specialRequest p{
    font-size: 12px;
  }

 .TKContainer .TKInnerContainer{
      display: block;
      width: 260px;
      height: 500px;
      position: absolute ;  
      top: 15px;
      left: 20px;
  }
  
  .ticketbuttons{
    display: none;
  }

  .TicketContainer .barCode{
    width: 150px;
    margin: auto;
    position: absolute;
    top: 58%;
    right: 40px;
  }

  .progressBar, .progressBar2, .progressBar4, .progressBar3{
    width: 250px;
  }

  .Lines .progressBar, .progressBar2{
    width: 330px;
  }

  

  .ticketbuttonsdown{
    width: 300px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 20px auto;
  }

  .ticketbuttonsdown button{
    width: 300px;
    border:1px solid #07373F;
    padding: 10px 20px;
    border-radius:15px ;
    background-color: transparent;
    color: #fff;
  }

  .ticketbuttonsdown .DT{
    background-color: #24A0B5;
  }
}


